<h1 style="text-align: center;" >ALL EVENTS</h1>
<div class="events">
  <div class="events__show-filter">
    <button (click)="showFilter()" mat-raised-button color="primary" type="button" >Show Filters</button>
  </div>
  <div #eventFilter class="events__filter">
    <div class="events__name">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder = "Name" type="text">
      </mat-form-field>
    </div>
    <div class="events__breeds">
      <app-pwa-autoinput [label]="'Events with Breeds'" [list]="toList" [placeholder]="'Events with Breeds '" (result)="addBreeds($event)" ></app-pwa-autoinput>
      <div class="events__label-contailer">
        <label *ngFor="let f of toFilterList" (click)="removeBreeds(f)" class="events__label">{{f}}</label>
      </div>
    </div>
    <div class="events__day">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput placeholder = "Choose a Date" type="date">
      </mat-form-field>
    </div>
    <div class="events__cities" >
      <app-pwa-autoinput [label]="'Events in Cities'" [list]="toCities" [placeholder]="'Choose a city or cities'" (result)="addCities($event)" ></app-pwa-autoinput>
      <div class="events__label-contailer">
        <label *ngFor="let c of toFilterCities" (click)="removeCities(c)" class="events__label">{{c}}</label>
      </div>
    </div>
    <div class="events__button">
      <button mat-raised-button color="primary" type="button" >filter</button>
    </div>
  </div>

  <div class="events__events">
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
    <app-pwa-cart [cartController]="cartController">
      <div cardHook><agm-map style="height: 200px;" [latitude]="48.210033" [longitude]="16.363449" >
        <agm-marker [latitude]="48.210033" [longitude]="16.363449"></agm-marker>
      </agm-map>
    </div>
    </app-pwa-cart>
  </div>
</div>
