$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

.events{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  &__label{
    margin : 0.5rem;
    padding : 0.4rem;
    background-image: radial-gradient($color-secondary-light, $color-secondary-dark);
  }

  &__filter{
    margin : 0 0 0 0.1rem;
    @media screen and (max-width : 1000px) {
      display: none;
      width: 100%;
    }
  }

  &__events{
    flex : 1;
  }

  &__show-filter{
    display: none;
    @media screen and (max-width : 1000px) {
      display: block;
      width: 100%;
    }
  }

}
