<h1 style="text-align: center;">MY EVENTS</h1>
<div class="myevents">
  <div class="myevents__events" *ngIf="cartControllers">

    <app-pwa-cart *ngFor="let elem of cartControllers" [cartController]="elem">
      <div cardHook>
        <agm-map style="height: 200px;" [latitude]="elem.from? getLng(elem.from):0" [longitude]="elem.from?getLng(elem.from):0">
          <agm-marker [latitude]="elem.from? getLng(elem.from):0" [longitude]="elem.from?getLng(elem.from):0"></agm-marker>
          <agm-marker [latitude]="elem.to? getLng(elem.to):0" [longitude]="elem.to?getLng(elem.to):0"></agm-marker>
        </agm-map>
      </div>
    </app-pwa-cart>

  </div>
</div>
