<h1 style="text-align: center;">MY EVENTS</h1>
<div class="myevents">
  <div class="myevents__events" *ngIf="cartControllers">

    <app-pwa-cart *ngFor="let elem of cartControllers" [cartController]="elem">
      <div cardHook>
        <agm-map style="height: 200px;" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="20" [longitude]="20"></agm-marker>
          <agm-marker [latitude]="20" [longitude]="20"></agm-marker>
        </agm-map>
      </div>
    </app-pwa-cart>

  </div>
</div>
