<app-pwa-header [navItems]="headerService.items">
  <div logo><img class="header-icon" src="../assets/favicon-32x32.png"/></div>

  <div icon>
    <a *ngIf="accountService.currentUser$ | async" class="navigation__link" routerLink="/home" routerLinkActive="router-link-active"><mat-icon class="icon" svgIcon="home-icon" aria-hidden="false"></mat-icon></a>
    <a *ngIf="accountService.currentUser$ | async" class="navigation__link" routerLink="/profile" routerLinkActive="router-link-active"><mat-icon class="icon"svgIcon="user-icon" aria-hidden="false"></mat-icon></a>
    <a *ngIf="accountService.currentUser$ | async" class="navigation__link" routerLink="/events" routerLinkActive="router-link-active"><mat-icon class="icon" svgIcon="events-icon" aria-hidden="false"></mat-icon></a>
  </div>

  <div *ngIf="accountService.currentUser$ | async" button> <button class="btn btn-primary" style="width: 100%;" type="button" (click)="Logout()">Logout</button> </div>
</app-pwa-header>

<div class="body" style="margin-top:5rem;">
  <button *ngIf="promptEvent" (click)="installPwa()">
    Install
  </button>
  <app-pwa-floatbutton *ngIf="accountService.currentUser$ | async" (click)="clickFloat()"></app-pwa-floatbutton>
  <app-toasts></app-toasts>
  <router-outlet></router-outlet>
</div>
